@mixin no-select {
  user-select: none;
  cursor: default;
}

@mixin selectable {
  user-select: initial;
  cursor: auto;
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
